body{
    background-color: white;
    
}
.navbar {
    padding-top: 2rem;
    background-color: white;
    height: 4rem;
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
}
@media only screen and ((max-width: 1000px)) {
  .navbar-brand{
    width: 5rem;
    height: 2rem;
    float: left;
   
  }

.mobile-menu .navbar-nav{
  display: flex;
 
  flex-direction: row;
  /* background-color: red; */

}
.nav-item{

  color: #555;
}


}

@media only screen and ((max-width: 700px) and (min-width:300px)) {

  #jobid{
    font-size: 1rem;
    /* background-color: red; */
  }
  #searchid{
    font-size: 1rem;
  }
  .static_box{
    display: none;
  }
}
@media only screen and ((min-width: 700px)) {
 
  }



@media only screen and ((min-width: 1000px)) {

  .mobile-menu .navbar-nav{
    display: none;
   
 
  }
  }
  @media only screen and ((max-width: 800px) and (min-width:300px)) {
    .section1{
    /* visibility: hidden; */
    display:none
    }
    .section1 .input{
      display: none;
    }
    .section1 .form-border{
      display: none;
    }
    .section1 button{
      display: none;
    }
    .section1-mobile{
      display: block;
     
     
   
    }
  
    }
    @media only screen and ((min-width: 800px)) {

      .section1-mobile{
       /* visibility: hidden; */
       display: none;
       
     
      }
      .section1-mobile .input{
        display: none;

      }
      .section1-mobile button{
        display: none;

      }
      .section1{
        display:block;
      }
      }

.navbar-brand img{
    display: block;
    /* float: left; */
    width: 6rem;
    height: 2.5rem;
   
}
.navbar-nav ul{
    position: absolute;
   
}
.navbar-nav li a:hover{
    /* padding-bottom: 10px; */
    border-bottom: 1px solid #00008B;
    line-height: 48px;
}

 .left-nav a:hover{
    border-bottom: 1px solid #00008B;
    line-height: 48px;
    background-color: #ADD8E6;
}

.toggle-menu{
  display: flex;
  justify-content: center;
}
.toggle{
  display: flex;
  justify-content: center;
}
.toggle a{
  /* font-weight: 500; */
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
.toggle a:hover{
  font-weight: 700;
}
.toggle a:active{
  font-weight: 700;
}
.searches{
  display: flex;
  justify-content: center;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;

}
.section1-mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;

}

.section1 .form-border{
  border: 1px solid gray;
  width: 45rem;
  border-radius: .5rem;
  padding-bottom: .6rem;
  padding-top: .6rem;
  box-shadow: .1rem .1rem .3rem .3rem #E5E4E2;
}

.section1 input{
    border:none;
    width: 15rem;

}
.section1-mobile input{
  border:none;
  width: 15rem;
 

}

.form-border-mobile{
  border: 1px solid gray;
  width: 20rem;
  border-radius: .5rem;
  padding-bottom: .6rem;
  padding-top: .6rem;

  box-shadow: .1rem .1rem .3rem .3rem #E5E4E2;
}
.box{
    /* width : 30rem; */
    height: 18rem;
    /* background-color:red; */
    border: 1px solid 	#BEBEBE;
    border-radius: 5px;
  
  
}
@media only screen and (max-width: 1200px) {
    /* body {
      background-color: red;
    } */
     .box{
        height: 25rem;
     }
    .box .requi{
        width:7rem;
        font-size: .65rem;
       
    }
    .box .requi3{
        width:7rem ;
        font-size: .65rem;
    }
  }
  @media only screen and ((max-width: 1200px) and (min-width:1000px)) {
    .box{
        height: 22rem;
    }
  }
    /* /* body {} */
  @media only screen and ((max-width: 1000px) and (min-width:750px) ){
    /* body {
      background-color: red;
    } */
    .box{
        height: 22rem;
    }
    .box .requi{
        width:5rem;
        font-size: .55rem;
       
    }
    .box .requi3{
        width:5rem ;
        font-size: .55rem;
    }
  }
.box_static{
  /* //  width :35rem; */
    height: 40rem;
    /* background-color: blue; */
    position: sticky;
    top:0px;
    border: 1px solid 	#BEBEBE;
    border-radius: 5px;
  
}

.box_static .spanclass{
    padding-left: 2rem;
}

.box_static .hr {
    border:none;
    height: 20px;
       width: 90%;
      height: 50px;
      margin-top: 0;
      border-bottom: 1px solid white;
      box-shadow: 0 20px 20px -20px #DCDCDC;
    margin: -50px auto 10px; 
  }
  .box_static .square{
    width: 3rem;
    height: 3rem;
    background-color: #DCDCDC;
    border-radius: .5rem;
  }
  .box-report{
    width: 6rem;
    height: 2rem;
    background-color: #DCDCDC;
    border-radius: .5rem;
  }
.requirments{
    display:flex;
    flex-direction: row;
    
}
.requi{
    width: 10rem;
    height: 1.5rem;
    background-color: #ccffe6;
    opacity: 0.66;
   font-size: .7rem;
    border-radius: 5px;

}
.requi3{
    height: 1.5rem;
    width: 10rem;
    background-color: 	#D3D3D3;
    opacity: 0.66;
    font-size: .7rem;
    border-radius: 5px;

}
.scroll{
    height: 24.4rem;
    overflow: scroll;
    width: 33.57rem;
    padding-left: 2rem;
    /* background-color: red; */
}
.scroll::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      .scroll::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
      .scroll::-webkit-scrollbar-thumb {
        background: #888; 
      }
      
      /* Handle on hover */
      .scroll::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }

.box_static .squareH {
 width: 3rem;
 height: 2rem;
 border: 1px solid #BEBEBE;
 border-radius: .5rem;
}
.box_static .squareS{
    /* width: 3rem; */
    height: 1.7rem;
    border-radius: .3rem;
    background-color:#E8E8E8;
}
.box_static .squareJ{
    /* width: 3rem; */
    height: 1.7rem;
    border-radius: .3rem;
    background-color: #ccffe6;
}

